<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0 shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Victor Akerele">
  <meta name="theme-color" content="#000000" />

  <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
  <link rel="manifest" href="/manifest.json" />

  <link rel="stylesheet" href="/styles/main.css" />

  <!--favicon icon-->
  <link rel="icon" type="image/png" href="/img/favicon.html">
  <link rel="shortcut icon" href="/img/favicon.ico" />

  <title>Node App Starter KIT</title>

  <!--google font-->
  <link
    href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
    rel="stylesheet">

  <!--common style-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/vendor/html5shiv.js"></script>
    <script src="/vendor/respond.min.js"></script>
    <![endif]-->
</head>

{{{body}}}

<script src="/dist/vendors.js.gz"></script>
<script src="/dist/app.js.gz"></script>

<!--[if lt IE 9]>
    <script src="/vendor/modernizr.js"></script>
    <![endif]-->

</html>